# Cannabis Project

### Introduction

here goes the interoduction

In [2]:
#importing required modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#reading the csv file
df = pd.read_csv('datasets_254652_535029_OCPDB.csv')
df.head()

,OCPID,Strain,SampleID,DateRecorded,ReportType,ChemicalLab,H2O,TotalTHC,THC,Δ8-THC,...,ProjectURL,Study,StudyURL,Run,RunURL,DatePublished,Spots,Bases,Size,Notes
0,420,CHEM 4,17002739.0,12 May 2018,C,Cascadia Labs,8.60%,193.0,193.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,421,Z7,17002740.0,12 May 2018,C,Cascadia Labs,8.50%,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,422,ACDC/Harlequin,17002741.0,12 May 2018,C,Cascadia Labs,14.80%,141.0,141.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,423,HarleyWreck,17002742.0,12 May 2018,C,Cascadia Labs,8.40%,75.0,75.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,424,Sour Amnesia,17002833.0,12 May 2018,C,Cascadia Labs,13.20%,222.0,222.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#describing the dataset
df.describe(include='all')

,OCPID,Strain,SampleID,DateRecorded,ReportType,ChemicalLab,H2O,TotalTHC,THC,Δ8-THC,...,ProjectURL,Study,StudyURL,Run,RunURL,DatePublished,Spots,Bases,Size,Notes
count,1099.000000,1099,2.550000e+02,1099,1099,255,255,255.000000,255.000000,159.0,...,851,851,851,851,851,851,8.510000e+02,8.510000e+02,851,0.0
unique,NaN,831,NaN,1,3,1,174,NaN,NaN,NaN,...,2,2,2,851,851,3,NaN,NaN,627,NaN
top,NaN,Sour Diesel,NaN,12 May 2018,G,Cascadia Labs,9.30%,NaN,NaN,NaN,...,"<a href=""https://www.ncbi.nlm.nih.gov/bioproje...",SRP092005,"<a href=""https://trace.ncbi.nlm.nih.gov/Traces...",SRR4448808,"<a href=""https://trace.ncbi.nlm.nih.gov/Traces...",2016-10-25,NaN,NaN,35.7 MB,NaN
freq,NaN,14,NaN,1099,844,255,6,NaN,NaN,NaN,...,844,844,844,1,1,584,NaN,NaN,6,NaN
mean,969.000000,NaN,1.762509e+07,NaN,NaN,NaN,NaN,172.927255,172.927255,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.734680e+06,2.617060e+08,NaN,NaN
std,317.398278,NaN,4.843144e+05,NaN,NaN,NaN,NaN,74.996990,74.996990,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2.123216e+06,3.204905e+08,NaN,NaN
min,420.000000,NaN,1.700274e+07,NaN,NaN,NaN,NaN,0.000000,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,8.603100e+04,1.162497e+07,NaN,NaN
25%,694.500000,NaN,1.700310e+07,NaN,NaN,NaN,NaN,137.860000,137.860000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,8.807120e+05,1.329917e+08,NaN,NaN
50%,969.000000,NaN,1.800063e+07,NaN,NaN,NaN,NaN,190.440000,190.440000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.212803e+06,1.831155e+08,NaN,NaN
75%,1243.500000,NaN,1.800069e+07,NaN,NaN,NaN,NaN,223.095000,223.095000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.907904e+06,2.881210e+08,NaN,NaN
max,1518.000000,NaN,1.800075e+07,NaN,NaN,NaN,NaN,316.600000,316.600000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2.263399e+07,3.418109e+09,NaN,NaN