# Cannabis Project

### Introduction

here goes the interoduction

In [2]:
#importing required modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
#reading the csv file
df = pd.read_csv('datasets_254652_535029_OCPDB.csv')
df.head()

,OCPID,Strain,SampleID,DateRecorded,ReportType,ChemicalLab,H2O,TotalTHC,THC,Δ8-THC,...,ProjectURL,Study,StudyURL,Run,RunURL,DatePublished,Spots,Bases,Size,Notes
0,420,CHEM 4,17002739.0,12 May 2018,C,Cascadia Labs,8.60%,193.0,193.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,421,Z7,17002740.0,12 May 2018,C,Cascadia Labs,8.50%,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,422,ACDC/Harlequin,17002741.0,12 May 2018,C,Cascadia Labs,14.80%,141.0,141.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,423,HarleyWreck,17002742.0,12 May 2018,C,Cascadia Labs,8.40%,75.0,75.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,424,Sour Amnesia,17002833.0,12 May 2018,C,Cascadia Labs,13.20%,222.0,222.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#Checking for duplicates
df[df.duplicated(subset=None, keep='first')==True]

Empty DataFrame
Columns: [OCPID, Strain, SampleID, DateRecorded, ReportType, ChemicalLab, H2O, TotalTHC, THC, Δ8-THC, Δ9-THC, THCA, THCV, TotalCBD, CBDA, CBDV, CBDVA, CBC, CBG, CBN, α-Pinene, Camphene, Myrcene, β-Pinene, 3-Carene, α-Terpinene, D-Limonene, p-Cymene, Ocimene, Eucalyptol, γ-Terpinene, Terpinolene, Linalool, Isopulegol, Geraniol, β-Caryophyllene, α-Humelene, Nerolidol-1, Nerolidol-2, Guaiol, CaryophylleneOxide, α-Bisabolol, GeneticLab, Sample, SampleURL, Organism, OrganismURL, Project, ProjectURL, Study, StudyURL, Run, RunURL, DatePublished, Spots, Bases, Size, Notes]
Index: []

[0 rows x 58 columns]

In [6]:
#describing the dataset
df.describe()

,OCPID,SampleID,TotalTHC,THC,Δ8-THC,Δ9-THC,THCA,THCV,TotalCBD,CBDA,...,β-Caryophyllene,α-Humelene,Nerolidol-1,Nerolidol-2,Guaiol,CaryophylleneOxide,α-Bisabolol,Spots,Bases,Notes
count,1099.000000,2.550000e+02,255.000000,255.000000,159.0,255.000000,255.000000,159.0,255.00000,255.000000,...,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,8.510000e+02,8.510000e+02,0.0
mean,969.000000,1.762509e+07,172.927255,172.927255,0.0,4.159216,173.090196,0.0,20.93298,21.064588,...,3.072667,0.900902,0.028627,0.022431,0.157294,0.000549,0.320902,1.734680e+06,2.617060e+08,NaN
std,317.398278,4.843144e+05,74.996990,74.996990,0.0,5.852526,75.656729,0.0,45.18685,45.916234,...,2.183463,0.809311,0.101140,0.100316,0.304647,0.006187,0.393014,2.123216e+06,3.204905e+08,NaN
min,420.000000,1.700274e+07,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.603100e+04,1.162497e+07,NaN
25%,694.500000,1.700310e+07,137.860000,137.860000,0.0,0.000000,138.000000,0.0,0.00000,0.000000,...,1.530000,0.335000,0.000000,0.000000,0.000000,0.000000,0.000000,8.807120e+05,1.329917e+08,NaN
50%,969.000000,1.800063e+07,190.440000,190.440000,0.0,1.570000,190.000000,0.0,0.00000,0.000000,...,2.610000,0.780000,0.000000,0.000000,0.000000,0.000000,0.180000,1.212803e+06,1.831155e+08,NaN
75%,1243.500000,1.800069e+07,223.095000,223.095000,0.0,6.525000,225.000000,0.0,0.71000,0.000000,...,4.065000,1.250000,0.000000,0.000000,0.190000,0.000000,0.545000,1.907904e+06,2.881210e+08,NaN
max,1518.000000,1.800075e+07,316.600000,316.600000,0.0,34.000000,323.000000,0.0,197.57000,202.000000,...,14.250000,6.290000,0.720000,0.840000,1.340000,0.070000,2.190000,2.263399e+07,3.418109e+09,NaN

No duplicated data exists in the dataset.

In [8]:
#getting the data types in columns
print(df.dtypes)

OCPID                   int64
Strain                 object
SampleID              float64
DateRecorded           object
ReportType             object
ChemicalLab            object
H2O                    object
TotalTHC              float64
THC                   float64
Δ8-THC                float64
Δ9-THC                float64
THCA                  float64
THCV                  float64
TotalCBD              float64
CBDA                  float64
CBDV                  float64
CBDVA                 float64
CBC                   float64
CBG                   float64
CBN                   float64
α-Pinene              float64
Camphene              float64
Myrcene               float64
β-Pinene              float64
3-Carene              float64
α-Terpinene           float64
D-Limonene            float64
p-Cymene              float64
Ocimene               float64
Eucalyptol            float64
γ-Terpinene           float64
Terpinolene           float64
Linalool              float64
Isopulegol            float64
Geraniol              float64
β-Caryophyllene       float64
α-Humelene            float64
Nerolidol-1           float64
Nerolidol-2           float64
Guaiol                float64
CaryophylleneOxide    float64
α-Bisabolol           float64
GeneticLab             object
Sample                 object
SampleURL              object
Organism               object
OrganismURL            object
Project                object
ProjectURL             object
Study                  object
StudyURL               object
Run                    object
RunURL                 object
DatePublished          object
Spots                 float64
Bases                 float64
Size                   object
Notes                 float64
dtype: object

In [9]:
#Checking to see if there is any null data in our dataset:
df_nulls = df[df.isnull().apply(lambda x: max(x), axis=1)]
df_nulls.head()

,OCPID,Strain,SampleID,DateRecorded,ReportType,ChemicalLab,H2O,TotalTHC,THC,Δ8-THC,...,ProjectURL,Study,StudyURL,Run,RunURL,DatePublished,Spots,Bases,Size,Notes
0,420,CHEM 4,17002739.0,12 May 2018,C,Cascadia Labs,8.60%,193.0,193.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,421,Z7,17002740.0,12 May 2018,C,Cascadia Labs,8.50%,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,422,ACDC/Harlequin,17002741.0,12 May 2018,C,Cascadia Labs,14.80%,141.0,141.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,423,HarleyWreck,17002742.0,12 May 2018,C,Cascadia Labs,8.40%,75.0,75.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,424,Sour Amnesia,17002833.0,12 May 2018,C,Cascadia Labs,13.20%,222.0,222.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We have 58 rows with null data in them.

In [12]:
#Removing the row with null values:
df.reset_index()
df.dropna()
df.drop_duplicates()
df = df.mask(df.eq('None')).dropna()

C:\Users\Kaveh\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [13]:
#checking again for null values in the dataset
df_nulls = df[df.isnull().apply(lambda x: max(x), axis=1)]
df_nulls.head()

Empty DataFrame
Columns: [OCPID, Strain, SampleID, DateRecorded, ReportType, ChemicalLab, H2O, TotalTHC, THC, Δ8-THC, Δ9-THC, THCA, THCV, TotalCBD, CBDA, CBDV, CBDVA, CBC, CBG, CBN, α-Pinene, Camphene, Myrcene, β-Pinene, 3-Carene, α-Terpinene, D-Limonene, p-Cymene, Ocimene, Eucalyptol, γ-Terpinene, Terpinolene, Linalool, Isopulegol, Geraniol, β-Caryophyllene, α-Humelene, Nerolidol-1, Nerolidol-2, Guaiol, CaryophylleneOxide, α-Bisabolol, GeneticLab, Sample, SampleURL, Organism, OrganismURL, Project, ProjectURL, Study, StudyURL, Run, RunURL, DatePublished, Spots, Bases, Size, Notes]
Index: []

[0 rows x 58 columns]

In [31]:
#making a pie chart of the strains present in the dataset
df['Strain'].value_counts()

Series([], Name: Strain, dtype: int64)